@import "~react-image-gallery/styles/css/image-gallery.css";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em ;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/banner.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  
}
.banner {
  max-width: 75%;
  margin: auto;
}

.about-us{
  margin-top: 0rem;
  padding: 2rem;
  margin-bottom: 16rem;
  text-align: center;
  color: #fff;
  height: 68vh;
}
.about-us h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 6rem;
}
.about-us h2{
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.about-p p{
    color:#fff;
    font: bold;
    font-size: 1.2rem;
    margin: auto;
    max-width: 73%;
   
}
.services h1{
text-align: center;
color: #eeee;
font-size: 2em;
}
.more{
  padding-top: 0rem;
  transition: transform 0.75s ease, opacity 0.75s ease;
  transition-delay: 3.5s;
  transform: translateY(0);
  border: none;
  bottom: 0;
  color: inherit;
  font-size: 0.8em;
  height: 8.5em;
  left: 50%;
  letter-spacing: 0.225em;
  margin-left: -8.5em;
  opacity: 1;
  outline: 0;
  text-decoration: none;
  padding-left: 0.225em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 16em;
  z-index: 1;
}
.more::after{
  background-image: url(../images/down-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 3em;
  content: '';
  display: block;
  height: 3em;
  left: 48%;
  margin: 0 0 0 -0,75em;
  position:absolute;
  width: 3em;
}
.button-more a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
ul.icons {
  cursor: default;
  list-style: none;
}
.icon-services {
  position: relative;
  width: 100%;
  margin: auto;
}
ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
ul.icons.major li {
  padding-top: 4rem;
  padding-right: 2em;
  color: #fff;
  font-size: 1rem;
 
}
ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
  max-width: 20rem;
}
.icon{
  font-size: 3.5rem;
  padding: 3rem;
}
.icon-services{
  margin: auto;
  text-align: center;
}
.services{
  background-color: #484848;;
  padding: 2rem;
}
.services p{
  color: #fff;
  
 
}
.gallery{
  background-color:#0000009c;
  padding: 3rem;
}
.Footer{
  background-color:  #484848;
  color: #fff;
  padding: 3rem;
  height: 10rem;
  margin: auto;
  text-align: center;
}
.Footer a{
  margin: 0.5rem;
  color: #fff;
  text-decoration: none;
}
.Impressum{
  padding: 6rem;
  background-color: #fff;
  max-width: 100%;
  max-height: 100%;
}
.DATENSCHUTZERKLÄRUNG{
  padding: 6rem;
  background-color: #fff;
  max-width: 100%;
}
.contanct-form{
  background-color: rgb(255 250 250 / 69%);
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  position:block;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 1;
  
}
.contanct-form{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form{
  width: 50vh;
}
@media only screen and (max-width:  667px) {
  .about-us h1{
    font-size: 1.4rem;
    padding-top: 1rem;
  }
  .about-us h2{
    font-size: 1rem;
  }
  .about-us p{
    font-size: 1rem;
    max-width: 100%;
  }
  .services h1{
    font-size: 1.3rem;
  }
  .icon{
    font-size: 2rem;
  }
  .form{
    padding:1rem;
  }
  .Impressum{
    padding: 4rem 2rem;
  }
  .DATENSCHUTZERKLÄRUNG{
    padding: 4rem 2rem;
  }
}
@media only screen and (max-width:  1024px){
  .banner{
    max-width: 100%;
  }
 .icon{
   font-size: 2.4rem;
 }
 .Footer a {
   font-size: 0.8rem;
 }
 .navbar-item{
  font-size: 1rem;
}
.Nav a{
  font-size: 0.9rem;
}
.form{
  width: 80vw;
}
}
@media only screen and (max-width:  720px){

 .Footer a {
  font-size: 0.8rem;
}
.navbar-item{
  font-size: 1rem;
}
.form{
  padding: 2rem;
}
.Impressum{
  padding:4rem 2rem;
}
.DATENSCHUTZERKLÄRUNG{
  padding: 4rem 2rem;
}
}
@media only screen and (max-width:  320px){
  .banner{
    max-width: 100%;
  }
  .Footer a {
    font-size: 0.7rem;
  }
  .button-more{
    display: none;
  }
  .Impressum{
    padding:4rem 2rem;
  }
  .DATENSCHUTZERKLÄRUNG{
    padding:4rem 2rem;
  }
}
@media only screen and (max-width:  280px){
  .Footer a {
    font-size: 0.5rem;
  }
  .Impressum{
    padding: 4rem 2rem;
  }
  .DATENSCHUTZERKLÄRUNG{
    padding: 4rem 2rem;
  }
}


